<div class="vlt-site-wrapper">
  <!--Site Wrapper Inner-->
  <div class="vlt-site-wrapper__inner">
    {% include _header.html %}
    <!--Main-->
    <!--Main-->
    <main class="vlt-main">
      <!--Content-->
      <section>
        <div class="container">
          <div class="row no-gutters">
            <div class="col-md-6 d-flex flex-column justify-content-center min-vh-100">
              <!--Particle-->
              <div class="vlt-particle" data-jarallax-element="0 0" style="top: -40px; right: -90px; max-width: 250px;">
                <img src="assets/img/root/particle-01--black.png" alt="" />
              </div>
              <div class="vlt-gap-120"></div>
              <div class="vlt-custom--8511">
                <!--Animation Block-->
                <div class="vlt-gap-30"></div>
                <!--Animation Block-->
                <div class="vlt-animation-block" data-aos="fade" data-aos-delay="100">
                  <h3 class="vlt-second-color m-0">
                    Hi! I'm Diane Labenz,
                  </h3>
                  <h3>
                    a product designer based in the
                    <a href="https://en.wikipedia.org/wiki/Mountain_View,_California" target="_blank">Bay Area</a>.
                  </h3>
                </div>
                <div class="vlt-gap-30"></div>
                <!--Animation Block-->
                <div class="vlt-animation-block" data-aos="fade" data-aos-delay="200">
                  <p>
                    I’ve spent the past several years building products that
                    make people’s lives easier. From creating and coding
                    websites to help small-business users connect with valuable
                    resources to designing food labels that help individuals
                    make healthier choices. I enjoy challenging problems and
                    work to simplify the complex.
                  </p>
                  <p>
                    With years of experience as data-driven marketer, I'm
                    focused on tapping into what motivates people. I understand
                    how to strike the balance between meeting user needs and
                    satisfying business goals.
                  </p>
                  <p>
                    In my downtime, I like to listen to *all* the podcasts,
                    level up my warlock in WoW Classic, and take long hikes with
                    my rescue pup, Atlas.
                  </p>
                </div>
                <div class="vlt-gap-40"></div>

              </div>
              <div class="vlt-gap-120"></div>
            </div>
            <div class="col-md-6 d-none d-md-block">
              <div class="min-vh-100 jarallax vlt-stretch-element-inside-column">
                <img class="jarallax-img" src="/assets/images/DianeLabenz.JPG" alt="It Me" />
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!--Back to Top--><a class="vlt-btn vlt-btn--secondary vlt-btn--effect vlt-btn--go-top hidden" href="#"><span><i
          class="leedo-chevron-up"></i></span></a>
  </div>
  <!--Footer-->
  {% include _footer.html %}
</div>