	<footer class="vlt-footer vlt-footer--widgetized">
	  <div class="container">
	    <div class="vlt-footer-widgets">
	      <div class="row">
	        <div class="col-lg-4 offset-lg-4">
	          <!--Widget-->
	          <div class="vlt-widget vlt-widget--white vlt-widget-nav-menu">
	            <a href="mailto:dianelabenz3@gmail.com?subject=Let's%20Work%20Together"
	              target="_blank">Email</a>&nbsp;&nbsp;|&nbsp;&nbsp;
	            <a href="https://www.linkedin.com/in/dianelabenz/" target="_blank">LinkedIn</a>&nbsp;&nbsp;|&nbsp;&nbsp;
	            <a href="https://twitter.com/dianeulabenz/" target="_blank">Twitter</a>
	          </div>
	        </div>
	      </div>
	    </div>
	    <div class="vlt-gap-30"></div>
	    <!--Copyright-->
	    <div class="row">
	      <div class="col-lg-4 offset-lg-4">
	        <div class="vlt-footer-copyright">
	          <p>&copy; 2019 Diane Labenz</p>
	        </div>
	      </div>
	    </div>
	  </div>
	</footer>