<!--Header-->
<div class="d-none d-lg-block">
  <header class="vlt-header vlt-header--fullscreen">
    <div class="vlt-navbar vlt-navbar--main vlt-navbar--transparent">
      <div class="container">
        <div class="vlt-navbar-inner">
          <div class="vlt-navbar-inner--left">
            <!--Logo--><a class="vlt-navbar-logo" href="/">
              <h4 class="new-logo {% if include.logoClass %} {{
        include.logoClass
      }}{% endif %}">Diane Labenz</h4>
            </a>
          </div>
          <div class="vlt-navbar-inner--right">
            <div class="d-flex align-items-center">
              <a class="vlt-menu-burger" href="#" id="vlt-fullscreen-menu-open"><span
                  class="line line-one"><span></span></span><span class="line line-two"><span></span></span><span
                  class="line line-three"><span></span></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="vlt-fullscreen-navigation-holder">
    <div class="vlt-navbar vlt-navbar--white-text-on-top">
      <div class="container">
        <div class="vlt-navbar-inner">
          <div class="vlt-navbar-inner--left">
            <a class="vlt-navbar-logo" href="/">
              <div class="new-logo">Diane Labenz</div>
            </a>
          </div>
          <div class="vlt-navbar-inner--right">
            <a class="vlt-menu-burger vlt-menu-burger--opened" href="#" id="vlt-fullscreen-menu-close"><span
                class="line line-one"><span></span></span><span class="line line-two"><span></span></span><span
                class="line line-three"><span></span></span></a>
          </div>
        </div>
      </div>
    </div>
    <!--Navigation-->
    <nav class="vlt-fullscreen-navigation">
      <!--Menu-->
      <ul class="sf-menu">
        <li class="menu-item-has-children two-columns">
          <a href="/"><span>Home</span></a>
        </li>
        <li class="menu-item-has-children">
          <a href="#"><span>Work</span></a>
          <ul class="sub-menu">
            <li class="menu-item-has-children left">
              <a href="/amazonkids/"><span>Amazon Kids</span></a>
            </li>
            <li class="menu-item-has-children left">
              <a href="/lantern/"><span>Lantern</span></a>
            </li>
            <li class="menu-item-has-children left">
              <a href="/streamloanio/"><span>Streamloan.io</span></a>
            </li>
            <li class="menu-item-has-children left">
              <a href="/countable/"><span>Countable</span></a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/about/"><span>About</span></a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<div class="d-lg-none d-sm-block">
  <header class="vlt-header vlt-header--opaque vlt-header--mobile">
    <nav class="vlt-navbar vlt-navbar--mobile">
      <div class="container">
        <div class="vlt-navbar-inner no-gutters">
          <div class="col text-left">
            <a class="vlt-menu-burger" href="#" id="vlt-mobile-menu-toggle"><span
                class="line line-one"><span></span></span><span class="line line-two"><span></span></span><span
                class="line line-three"><span></span></span></a>
          </div>
          <div class="col text-center">
            <!--Logo--><a class="vlt-navbar-logo" href="index.html">
              <h4 class="new-logo">Diane Labenz</h4>
            </a>
          </div>
        </div>
      </div>
    </nav>
    <!--Navigation-->
    <nav class="vlt-mobile-navigation">
      <ul class="sf-menu">
        <li class="menu-item-has-children two-columns">
          <a href="/"><span>Home</span></a>
        </li>
        <li class="menu-item-has-children">
          <a href="#"><span>Work</span></a>
          <ul class="sub-menu">
            <li class="menu-item-has-children left">
              <a href="/amazonkids/"><span>Amazon Kids</span></a>
            </li>
            <li class="menu-item-has-children left">
              <a href="/lantern/"><span>Lantern</span></a>
            </li>
            <li class="menu-item-has-children left">
              <a href="/streamloanio/"><span>Streamloan.io</span></a>
            </li>
            <li class="menu-item-has-children left">
              <a href="/countable/"><span>Countable</span></a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/about/"><span>About</span></a>
        </li>
      </ul>
    </nav>
  </header>
</div>