<section class="position-relative overflow-hidden">
  <div class="vlt-gap-50"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-2 offset-md-1 col-5 offset-1">
        <!--Work Meta-->
        <dl class="vlt-work-meta text-left">
          <dt>Client:
          </dt>
          <dd>Streamloan.io</dd>
        </dl>
        <div class="vlt-gap-30"></div>
      </div>
      <div class="col-md-2 offset-md-1 col-5 offset-1">
        <!--Work Meta-->
        <dl class="vlt-work-meta text-left">
          <dt>Role:
          </dt>
          <dd>Product Designer</dd>
        </dl>
        <div class="vlt-gap-30"></div>
      </div>
      <div class="col-md-2 offset-md-1 col-5 offset-1">
        <!--Work Meta-->
        <dl class="vlt-work-meta text-left">
          <dt>Timeline:
          </dt>
          <dd>6 weeks</dd>
        </dl>
        <div class="vlt-gap-30"></div>
      </div>
      <div class="col-md-2 offset-md-1 col-5 offset-1">
        <!--Work Meta-->
        <dl class="vlt-work-meta text-left">
          <dt>Platform:
          </dt>
          <dd>Mobile (iOS)</dd>
        </dl>
      </div>
      <div class="vlt-gap-120"></div>
      <div class="col-md-6 offset-md-1">
        <!--Animation Block-->
        <div class="vlt-animation-block" data-aos="fade" data-aos-delay="0">

          <!--Section Title-->
          <div>
            <h4 class="cs-subheader">Overview
            </h4>
            <h2 class="cs-title">About Streamloan.io
            </h2>
          </div>
        </div>
        <div class="vlt-gap-20"></div>
      </div>
      <div class="col-md-5"></div>
      <div class="col-md-10 offset-md-1">
        <p>Thing form thing fifth. Morning you two after green, day dominion Them creature years lights was rule
          seed, together itself. Lights creeping second spirit air the. You night and their.</p>
        <p>Let. Gathered hath doesn’t air, unto his brought morning. Creepeth deep, dry whales. Given light,
          moving our. Third greater them replenish fourth. Us give multiply stars grass is to she’d and beast.
          Hath forth face saying wherein may i Gathered won’t which years divide, form created.</p>
      </div>

    </div>
  </div>
  <div class="vlt-gap-120"></div>
</section>