<div class="image-background">
  <img
    class="image-header"
    src="/assets/images/Countable_splashpage.png"
    alt="Countable Usability Case Study"
  />
</div>
<div class="content narrow">
  <div class="intro">
    <h4>Project Overview</h4>
  </div>
  <!-- <h1>Searching for issues shouldn’t be as painful as waiting at the DMV.</h1> -->
  <div class="work-intro">
    {% include case-study.html title="CLIENT" body="Countable" %} {% include
    case-study.html title="ROLE" body="Product Designer (no affiliation with
    Countable)" %} {% include case-study.html title="TIMELINE" body="2 weeks" %}
    {% include case-study.html title="PLATFORM" body="iOS Native " %}
  </div>
</div>
<div class="content narrow">
  <div class="work-context-section">
    <h4>About Countable</h4>
    <h1>Take action on stories you care about</h1>
    <p>
      Countable makes it easier to understand the laws Congress is considering
      by providing bill summaries in plain English. It also streamlines the
      process of contacting lawmakers so voters can let their representatives
      know how to vote on issues that matter to them.
    </p>
  </div>
</div>
<div class="fill-width-banner work-content-quote">
  <div class="content narrow">
    <h4>The Problem</h4>
    <h1>Users have difficulty searching for topics that matter to them</h1>
    <p>
      Through guerrilla usability testing, I found that users had difficulty
      searching for relevant issues, leading users to become frustrated and
      quit.
    </p>
  </div>
</div>
<div class="content narrow">
  <div class="work-context">
    <div class="work-context-section">
      <h4>Final Deliverables</h4>
      <h1>Reduce the friction of finding relevant issues</h1>
      <p>
        Keeping in line with Countable’s design, I re-imagined the in-app search
        and discovery experience so that users can confidently find their most
        pressing issues, increasing user engagement.
      </p>
      <div class="content-row">
        <img
          class="mockup-1"
          src="/assets/images/Feed_Mockup_new.png"
          alt="Clarifying The News Feed"
        />
        <div class="content-row-text">
          <h2>Quickly navigate to relevant categories</h2>
          <p>
            New header navigation tab reduces the cognitive load to interpret
            the news feed, increasing user engagement.
          </p>
        </div>
      </div>
      <div class="content-row">
        <div class="content-row-text">
          <h2>Improved discovery by preloading search terms</h2>
          <p>
            Users can quickly search for previously buried issues without
            enlisting the keyboard.
          </p>
        </div>
        <img
          class="mockup-2"
          src="/assets/images/Feed_Search.png"
          alt="Search For Issues"
        />
      </div>
      <div class="content-row">
        <img
          class="mockup-3"
          src="/assets/images/Search_Results.png"
          alt="More Refined Results"
        />
        <div class="content-row-text">
          <h2>Better search results page</h2>
          <p>
            Robust search results page gives the user crucial query details and
            takes relevancy into consideration.
          </p>
        </div>
      </div>
      <h4>The Results</h4>
      <h1>
        Increase in users finding relevant issues and confidence in discovered
        information.
      </h1>
      <div class="content-row-images">
        <img
          src="/assets/images/TaskOutcome_Table.png"
          alt="Countable Task Outcomes"
        />
      </div>
    </div>

    <div class="work-context-section">
      <h4>Research & Usability Testing</h4>
      <h1>
        Users want to quickly connect with relevant issues but feel overwhelmed
        by the noise
      </h1>
      <p>
        In order to understand the pain points that users are dealing with, I
        dug into the
        <b
          >Countable app store reviews, Pew Research Center articles, and
          studied competitors</b
        >
        to find pain point themes. <br /><br />I performed
        <b>5 guerrilla usability tests in Mountain View</b> on users who feel
        that staying informed on political issues is important to them. My goal
        was to understand how users currently engage with news and political
        advocacy apps.
      </p>
      <div class="work-context-list">
        <ol>
          <li>
            <p>
              1. Users who want to stay informed with current events found that
              discovering relevant issues is hard to do in most news apps
            </p>
          </li>
          <li>
            <p>
              2. Users with slight familiarity on topical issues utilized search
              to find articles to help develop an informed opinion without being
              overwhelmed
            </p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="fill-width-banner work-content-quote">
  <div class="content narrow">
    <h1>
      How can I design the discovery experience to empower users to find what
      matters most to them?
    </h1>
  </div>
</div>
<div class="content narrow">
  <div class="work-context-section">
    <h4>Task Flows</h4>
    <h1>
      Searching for issues should be less painful than waiting at the DMV
    </h1>
    <p>
      In the current search flow, users have to try each filter and decide which
      option will return the most relevant result (5/5 users were confused by
      the filter term "profiles").
    </p>
    <span style="font-weight: 800px; color:cadetblue; font-size: 1.25em;"
      >Current Task Flow</span
    >
    <div class="content-row-images">
      <a href="/assets/images/Countabletaskflow_new.png">
        <img
          src="/assets/images/Countabletaskflow_new.png"
          alt="Countable Task Flow"
          width="95%"
        />
      </a>
    </div>
  </div>
  <div class="work-context-section">
    <h4>The Process</h4>
    <h1>
      From current to future state: removing the barriers between relevant
      information
    </h1>
    <p>
      In order to connect users with the issues, the search flow would need to
      be simplified.
    </p>
    <span style="font-weight: 800px; color:cadetblue; font-size: 1.25em;"
      >Future Task Flow:</span
    >
    <div class="content-row-images">
      <a href="/assets/images/FutureTaskFlow.png">
        <img
          src="/assets/images/FutureTaskFlow.png"
          alt="Future Countable Task Flow"
          width="99%"
        />
      </a>
    </div>
  </div>
</div>
<div class="work-content-quote fill-width-banner">
  <div class="content narrow">
    <div class="work-context-section">
      <h4>Ideation</h4>
      <h1>From multiple iterations to a discovery experience that engages</h1>
      <p>
        I looked at over 10 different search interface elements before landing
        on the three versions below. I sketched designs based on common patterns
        found in news apps and employed dot voting to settle on elements
        highlighted below.
      </p>
      <span style="font-weight: 800px; color:cadetblue; font-size: 1.25em;"
        >Low-fi sketches</span
      >
      <div class="content-row-images">
        <img
          src="/assets/images/Sketch_Search.png"
          alt="Future Countable Task Flow"
        />
      </div>
      <span style="font-weight: 800px; color:cadetblue; font-size: 1.25em;"
        >Wireframes</span
      >
      <div class="content-row-images">
        <img
          src="/assets/images/Countable_wireframe.png"
          alt="Future Countable Task Flow"
        />
      </div>
      <p>
        After creating the wireframes, I realized that the updated feed required
        a higher level of effort to implement. I researched alternative
        navigational patterns and chose the pattern most commonly seen in news
        apps.
      </p>
      <span style="font-weight: 800px; color:cadetblue; font-size: 1.25em;"
        >High-fi</span
      >
      <div class="content-row-images">
        <img
          src="/assets/images/Countable_HighFi.png"
          alt="Future Countable Task Flow"
        />
      </div>
    </div>
  </div>
</div>
<div class="content narrow">
  <div class="work-context-section">
    <h4>Final Screens</h4>
    <h1>Staying informed should be easy, simple, and rewarding</h1>
    <div class="before-after-pain-point">
      <h3>Pain Point 1: Users were unable to filter the feed</h3>
    </div>
    <div class="before-after-row">
      <div class="before-after-row-text">
        <div>
          <div class="center-title">
            <span style="color: #ec2929; font-size: 1.93em;">Before:</span>
          </div>
          <p>
            Users were forced to scroll through the feed to find issues they
            followed.
            <span style="font-weight:bold;"
              >0/5 users felt confident in locating an article
            </span>
            that was personally relevant to them.
          </p>
        </div>
        <div>
          <div class="center-title">
            <span style="color: #27b57c; font-size: 1.93em;">After:</span>
          </div>
          <p>
            Navigation tabs added an efficient way to filter for necessary
            information, while also providing clarity within the feed tab.
          </p>
        </div>
      </div>
      <div class="before-after-row-images">
        <img src="/assets/images/Feed_Before.png" />
        <img src="/assets/images/Feed_After.png" />
      </div>
    </div>
    <div class="before-after-pain-point">
      <h3>Pain Point 2: Confusing filters led to unclear search results</h3>
    </div>
    <div class="before-after-row">
      <div class="before-after-row-text">
        <div>
          <div class="center-title">
            <span style="color: #ec2929; font-size: 1.93em;">Before:</span>
          </div>
          <p>
            Users had to test each filter prior to search leading to frustration
            and confusing search results.
          </p>
        </div>
        <div>
          <div class="center-title">
            <span style="color: #27b57c; font-size: 1.93em;">After:</span>
          </div>
          <p>
            Search results are now organized into logical groups making the
            search experience more comfortable.
          </p>
        </div>
      </div>
      <div class="before-after-row-images">
        <img src="/assets/images/SearchResults_Before.png" />
        <img src="/assets/images/SearchResults_After.png" />
      </div>
    </div>
    <div class="before-after-pain-point">
      <h3>Pain Point 3: Issues were hidden under the user profile</h3>
    </div>
    <div class="before-after-row">
      <div class="before-after-row-text">
        <div>
          <div class="center-title">
            <span style="color: #ec2929; font-size: 1.93em;">Before:</span>
          </div>
          <p>
            Users were unable to locate issues to follow due to their
            unintuitive location. Only 1/5 users were able to successfully
            navigate to the issues page.
          </p>
        </div>
        <div>
          <div class="center-title">
            <span style="color: #27b57c; font-size: 1.93em;">After:</span>
          </div>
          <p>
            The enhanced search experience made finding issues a lot easier. 4/5
            users navigated to their desired topic using the explore issues
            feature.
          </p>
        </div>
      </div>
      <div class="before-after-row-images">
        <img src="/assets/images/Issues_Before.png" />
        <img src="/assets/images/Issues_After.png" />
      </div>
    </div>
  </div>
  <div class="work-context-section">
    <h4>Final Results</h4>
    <h1>Increased ease in discovering issues that resonate</h1>
    <p>
      With the high-fi prototype in hand, I performed guerrilla validation tests
      on 5 strangers to confirm if the initial pain points have been solved.
    </p>
    <div class="content-row-images">
      <img
        src="/assets/images/TaskOutcome_Table.png"
        alt="Countable Task Outcomes"
      />
    </div>
    <h4>Reflections</h4>
    <h1>Key Takeaways & Learnings</h1>
    <h3>Design for human error</h3>
    <p>
      The initial search functionality isn't very forgiving with user typos and
      spelling errors. Search is very important and a powerful search feature is
      the difference between engagement and abandonment.
    </p>

    <h3>What I wish I tried during usability tests</h3>
    <p>
      "We're not testing you, we're testing the usability of the app." I
      prefaced each usability test with these words ensuring the gracious
      participant that he or she could not fail. After wrapping up my initial
      validation tests, I wondered how the word "test" might give way to
      negative associations. I would have liked to invite users to "grade" the
      app versus "test" the app.
    </p>
  </div>
</div>
