---
---

h1 {
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 30px;
  padding-top: 30px;
}

h2 {
  font-size: 32px;
  font-weight: 500;
  padding-bottom: 20px;
  padding-top: 20px;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #555555;
}

p {
  font-size: 20px;
  line-height: 1.45em;
  font-weight: 400;
  padding-bottom: 15px;
}

a:hover {
  color: #49c7ec;
}
* {
  color: #333333;
}

.header a {
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
}

.content {
  padding: 50px;
}

.content.narrow {
  padding: 50px 300px;
}

.logo {
  font-family: "Patua One", cursive;
  font-size: 22px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;

  li {
    display: inline-block;
    padding-left: 20px;
  }
}
.hamburger {
  display: none;
}

.portfolio {
  display: grid;
  grid-template-columns: 49% 49%;
  justify-content: space-between;
}

.portfolio-piece {
  // width: 49.5%;
  margin-bottom: 10px;

  img {
    width: 100%;
  }
}
// About Me Page

.about {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
.black-white {
  filter: grayscale(100%);
}
.atlas-picture {
  border-radius: 4px;
  text-align: center;
  display: inline-block;
}

.about-atlas {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.profile-picture {
  border-radius: 4px;
  text-align: center;
  display: inline-block;
}

// Case Study Pages
.work-intro {
  display: flex;
  justify-content: space-between;
}

.case-study {
  flex: 1;
}

// Footer

.nav-social {
  display: inherit;
  position: relative;
  text-align: center;
  padding-top: 40px;
  font-size: 30px;
  border-top: #eeeeee 1px solid;
  margin-top: 40px;
}

// End Footer
@media (max-width: 762px) {
  .nav {
    &:not(.mobile-visible) {
      display: none;
    }

    position: absolute;
    top: 0;
    left: 0;
    padding: 50px 0px;
    text-align: center;
    width: 100%;
    background-color: #eeeeee;

    li {
      display: block;
      padding-left: 0;
      padding-bottom: 10px;
    }
  }
  .hamburger {
    display: inherit;
    z-index: 1;
  }
}
