---
layout: base
---
<div class="portfolio">
  <a href="/work/p2p/">{% include portfolio-piece-preview.html
  image="/assets/images/Countable_new.png" title="Case Study: Countable"
  body="Usability issues found and fixed in a 2 week sprint" %}</a>
  {% include
  portfolio-piece-preview.html image="https://picsum.photos/500/400"
  title="Project 2" %} {% include portfolio-piece-preview.html
  image="https://picsum.photos/500/400" title="Project 3" %} 
  {% include
  portfolio-piece-preview.html image="https://picsum.photos/500/400"
  title="Project 4" %}
  <!-- {% include portfolio-piece-preview.html image="https://picsum.photos/500/400" title="Project 5" %} -->
</div>
