---
layout: base
---

<div class="portfolio">
  {% include portfolio-piece-preview.html image="/assets/images/Countable.jpg"
  title="Countable: Design Sprint" body="Usability issues found and fixed in a 2
  week sprint" %} {% include portfolio-piece-preview.html
  image="https://picsum.photos/500/400" title="Project 2" %} {% include
  portfolio-piece-preview.html image="https://picsum.photos/500/400"
  title="Project 3" %} {% include portfolio-piece-preview.html
  image="https://picsum.photos/500/400" title="Project 4" %}
  <!-- {% include portfolio-piece-preview.html image="https://picsum.photos/500/400" title="Project 5" %} -->
</div>
